body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg {
    /* Photo by ğš‚ğš’ğš˜ğš›ğšŠ ğ™¿ğš‘ğš˜ğšğš˜ğšğš›ğšŠğš™ğš‘ğš¢ on Unsplash */
    background-image: url("baggrundsfoto.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: space-between;
    height: 100vh;
}

.boks__style {
    align-self: center;
    width: auto;
    background-color: white;
    opacity: 0.9;
}

.sidefod__style {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    margin-top:30px;
    opacity: 0.7;
    line-height: 2.0;
}

.musemarkoer {
    cursor: pointer;
}
